@page "/"

<PageTitle>Index</PageTitle>

<h1>Greetings!</h1>

<h1>This is a sample Blazor App constructed by Mark Kasper</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>